<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <nav class="nav-bar">
     
        <figure >
          <img  src="/images/logo_mep.png" alt="Logo Mep Engenharia">
       </figure>
     
      <div class="nav-list"> 
        <ul>
          <div>
            Medidor Selecionado:
            <select name="medidor" id="medidor"> 
              <option value='1'>Caixa 1</option>
              <option value='2'>Caixa 2</option>
              <option value='3'>Energia</option>
            </select>
          </div>
          
          <p class="data">Ultima atualização: <span id="data"></span></p>
        </ul>
      </div>
        <div class="login-button">
            
        </div>

        <!--div class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="assets/img/menu_white_36dp.svg" alt=""></button>
        </!--div-->
    </nav>
  </header>
    <div>
      <div class='titulo'>Caixa d'gua 1 - Ultima atualização: <span id="data1"></span></p></div>
      <div class="flex-container">
        <div class="item1">
            <div id="gauge_div1"  class="gauge"></div>
            <p class="dado"  id='p'>%</p>
            <p class="dado"  id='dis'>cm</p>
        </div>
        <div class="item2">
            <div id="chart_div1" ></div>
        </div>
      </div>
    </div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.js"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="/javascripts/anchieta.js"></script>
</html>