<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <nav class="nav-bar">
     
        <figure >
          <img  src="/images/logo_mep.png" alt="Logo Mep Engenharia">
       </figure>
     
      <div class="nav-list"> 
        <ul>
          <div>
              <h2><%= nome %></h2>
          </div>
          <div>
            <a href="http://monitor.mep.eng.br:5000/users/santaMonica_hidro"><button>Hidrometros</button></a>
          </div>
          <div>
            Medidor Selecionado:
            <select name="medidor" id="medidor">
              <option value='1'>Quadr. Geral</option>
              <option value='2'>QG Condominio</option>
              <option value='3'>QG CAG</option>
              
              <option value='11'>Sala 1</option>
              <option value='12'>Sala 2</option>
            
            
              <option value='101'>Sala 101</option>
              <option value='102'>Sala 102</option>
              <option value='103'>Sala 103</option>
              <option value='104'>Sala 104</option>
              <option value='105'>Sala 105</option>
              <option value='106'>Sala 106</option>
              <option value='107'>Sala 107</option>
              <option value='108'>Sala 108</option>
              <option value='109'>Sala 109</option>
              <option value='110'>Sala 110</option>
              <option value='111'>Sala 111</option>
              <option value='112'>Sala 112</option>
              <option value='113'>Sala 113</option>
              <option value='114'>Sala 114</option>

              <option value='201'>Sala 201</option>
              <option value='202'>Sala 202</option>
              <option value='203'>Sala 203</option>
              <option value='204'>Sala 204</option>
              <option value='205'>Sala 205</option>
              <option value='206'>Sala 206</option>
              <option value='207'>Sala 207</option>
              <option value='208'>Sala 208</option>
              <option value='209'>Sala 209</option>
              <option value='210'>Sala 210</option>
              <option value='211'>Sala 211</option>
              <option value='212'>Sala 212</option>
              <option value='213'>Sala 213</option>
              <option value='214'>Sala 214</option>

              <option value='301'>Sala 301</option>
              <option value='302'>Sala 302</option>
              <option value='303'>Sala 303</option>
              <option value='304'>Sala 304</option>
              <option value='305'>Sala 305</option>
              <option value='306'>Sala 306</option>
              <option value='307'>Sala 307</option>
              <option value='308'>Sala 308</option>
              <option value='309'>Sala 309</option>
            </select>
          </div>
          
          <p class="data">Ultima atualização: <span id="data"></span></p>
        </ul>
      </div>
        <div class="login-button">
            
        </div>

        <!--div class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="assets/img/menu_white_36dp.svg" alt=""></button>
        </!--div-->
    </nav>
  </header>

  <div id="loadingPopup" class="popup">
    <div class="popup-content">
        <div class="loader"></div>
        <h2>Carregando...</h2>
        <p>Por favor, aguarde.</p>
    </div>
  </div>
  
    <div>
      <div class='titulo'>Tensão(V)</div>
      <div class="flex-container">
        <div class="item1">
          <p class="fase">Fase A</p>
          <p class="dado"  id='va'>V</p>
        </div>
        <div class="item2">
          <p class="fase">Fase B</p>
          <p class="dado"  id='vb'>V</p>
        </div>
        <div class="item3">
          <p class="fase">Fase C</p>
          <p class="dado"  id='vc'>V</p>
        </div>
      </div>
        
      <div class='titulo'>Corrente</div>
      <div class="flex-container">
        <div class="item1">
          <p class="fase">Fase A</p>
          <p class="dado"  id='ia'>A</p>
        </div>
        <div class="item2">
          <p class="fase">Fase B</p>
          <p class="dado"  id='ib'>A</p>
        </div>
        <div class="item3">
          <p class="fase">Fase C</p>
          <p class="dado"  id='ic'>A</p>
        </div>
        <div class="item4">
         <p class="total">Total</p>
          <p class="dado"  id='it'>A</p>
        </div>
      </div>

      <div class='titulo'>Fator de Potencia</div>
      <div class="flex-container">
        <div class="item1">
          <p class="fase">Fase A</p>
          <p class="dado"  id='pfa'></p>
        </div>
        <div class="item2">
          <p class="fase">Fase B</p>
          <p class="dado"  id='pfb'></p>
        </div>
        <div class="item3">
          <p class="fase">Fase C</p>
          <p class="dado"  id='pfc'></p>
        </div>
        <div class="item4">
          <p class="total">Total</p>
          <p class="dado"  id='pft'></p>
        </div>
      </div>

      <div class='titulo'>Potencia Ativa</div>
      <div class="flex-container">
        <div class="item1">
          <p class="fase">Fase A</p>
          <p class="dado"  id='pa'>W</p>
        </div>
        <div class="item2">
          <p class="fase">Fase B</p>
          <p class="dado"  id='pb'>W</p>
        </div>
        <div class="item3">
          <p class="fase">Fase C</p>
          <p class="dado"  id='pc'>W</p>
        </div>
        <div class="item4">
          <p class="total">Total</p>
          <p class="dado"  id='pt'>W</p>
        </div>
      </div>

      <div class='titulo'>Consumo (KWh)</div>
      <div class="flex-container">
        <div class="item1">
          <p>Hoje</p>
          <p class="dado"  id='cd'>KWh</p>
        </div>
        <div class="item2">
          <p>Ontem</p>
          <p class="dado"  id='cda'>KWh</p>
        </div>
        <div class="item3">
          <p>Consumo Mensal</p>
          <p class="dado"  id='cm'>KWh</p>
        </div>
        <div class="item4">
          <p>Mes anterior</p>
          <p class="dado"  id='cma'>KWh</p>
        </div>
      </div>
      <div class="flex-chart">
        <div id="chart_div1" class="item1"></div>
      </div>  
      <div class="flex-chart">
        <div id="chart_div2" class="item1"></div>
        <div id="chart_div3" class="item2"></div>
      </div>  
    </div>
    
    <!--                                   Calculo de consumo                                   -->
    <div class="flex-container">
      <div class="item1">
          <h3>Periodo de cobrança</h3>
          <form id="event-form">
              <label for="start-date">Data de Início:</label>
              <input type="date" id="start-date" name="start-date" required>
              
              <label for="end-date">Data de Término:</label>
              <input type="date" id="end-date" name="end-date" required>
              
              <button id="calcular" type="submit">Calcular</button>
              <button id="relatorio" type="submit">Obter Relatorio Geral</button>
          </form>
          
      </div>
    </div>

    <div class="flex-chart">
        <div id="chart_consumo" class="item1"></div>
        <div id="result" class="item2"></div>
      
    </div> 
    <!--                                   Calculo de consumo                                   -->
</body>
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.js"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="/javascripts/santaMonica_energ.js"></script>
</html>