<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <nav class="nav-bar">
     
        <figure >
          <img  src="/images/logo_mep.png" alt="Logo Mep Engenharia">
       </figure>
     
      <div class="nav-list"> 
        <ul>
            <div>
                <h2><%= nome %></h2>
            </div>
            <div>
                <a href="http://monitor.mep.eng.br:5000/users/santaMonica"><button>Medidores de energia</button></a>
            </div>
          <div>
            Medidor Selecionado:
            <select name="medidor" id="hidrometros">
             
            </select>
          </div>
          
          <p class="data">Ultima atualização: <span id="data"></span></p>
        </ul>
      </div>
        <div class="login-button">
            
        </div>

        <!--div class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="assets/img/menu_white_36dp.svg" alt=""></button>
        </!--div-->
    </nav>
  </header>
    <div>
      <div class='titulo'>Leituras</div>

      <div class="flex-chart">
        <div id="chart_leituras" class="item1"></div>
      </div> 

      <div class="flex-container">
        <div class="item1">
            <h3>Periodo de cobrança</h3>
            <form id="event-form">
                <label for="start-date">Data de Início:</label>
                <input type="date" id="start-date" name="start-date" required>
                
                <label for="end-date">Data de Término:</label>
                <input type="date" id="end-date" name="end-date" required>
                
                <button id="calcular" type="submit">Calcular</button>
                <button id="relatorio" type="submit">Obter Relatorio Geral</button>
            </form>
            
        </div>
      </div>

      <div class="flex-chart">
        <div id="chart_consumo" class="item1"></div>
        <div id="result" class="item2"></div>
      </div> 
      
      <div class="flex-chart">
        <div class="item1">
          <h1>Carregar Arquivo de leituras TXT e Enviar ao Servidor</h1>
          <input type="file" id="file-input" accept=".txt">
          <button id="upload-button">Enviar</button>
          <div id="retornoArquivo" ></div>
          </div>
      </div> 
      
      <div id="loadingPopup" class="popup">
        <div class="popup-content">
            <div class="loader"></div>
            <h2>Carregando...</h2>
            <p>Por favor, aguarde.</p>
        </div>
      </div>

    </div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.js"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="/javascripts/santaMonica_hidro.js"></script>
</html>