<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <nav class="nav-bar">
     
        <figure >
          <img  src="/images/logo_mep.png" alt="Logo Mep Engenharia">
       </figure>
     
      <div class="nav-list"> 
        <ul>
          <div>
            Medidor Selecionado:
            <select name="medidor" id="medidor"> 
              <option value='1'>Sala 101</option>
              <option value='2'>Sala 102</option>
              <option value='3'>Sala 103</option>
              <option value='4'>Sala 104</option>
              <option value='5'>Sala 105</option>
              <option value='6'>Sala 106</option>
              <option value='7'>Sala 107</option>
              <option value='8'>Sala 108</option>
              <option value='9'>Sala 109</option>
              <option value='10'>Sala 110</option>
              <option value='11'>Sala 111</option>
              <option value='12'>Sala 112</option>
              <option value='13'>Sala 113</option>
              <option value='14'>Sala 114</option>

              <option value='15'>Sala 201</option>
              <option value='16'>Sala 202</option>
              <option value='17'>Sala 203</option>
              <option value='18'>Sala 204</option>
              <option value='19'>Sala 205</option>
              <option value='20'>Sala 206</option>
              <option value='21'>Sala 207</option>
              <option value='22'>Sala 208</option>
              <option value='23'>Sala 209</option>
              <option value='24'>Sala 210</option>
              <option value='25'>Sala 211</option>
              <option value='26'>Sala 212</option>
              <option value='27'>Sala 213</option>
              <option value='28'>Sala 214</option>
            </select>
          </div>
          
          <p class="data">Ultima atualização: <span id="data"></span></p>
        </ul>
      </div>
        <div class="login-button">
            
        </div>

        <!--div class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="assets/img/menu_white_36dp.svg" alt=""></button>
        </!--div-->
    </nav>
  </header>
    <div>
      <div class='titulo'>Tensão(V)</div>
      <div class="flex-container">
        <div class="item1">
          <p class="fase">Fase A</p>
          <p class="dado"  id='va'>V</p>
        </div>
        <div class="item2">
          <p class="fase">Fase B</p>
          <p class="dado"  id='vb'>V</p>
        </div>
        <div class="item3">
          <p class="fase">Fase C</p>
          <p class="dado"  id='vc'>V</p>
        </div>
      </div>
        
      <div class='titulo'>Corrente</div>
      <div class="flex-container">
        <div class="item1">
          <p class="fase">Fase A</p>
          <p class="dado"  id='ia'>A</p>
        </div>
        <div class="item2">
          <p class="fase">Fase B</p>
          <p class="dado"  id='ib'>A</p>
        </div>
        <div class="item3">
          <p class="fase">Fase C</p>
          <p class="dado"  id='ic'>A</p>
        </div>
        <div class="item4">
         <p class="total">Total</p>
          <p class="dado"  id='it'>A</p>
        </div>
      </div>

      <div class='titulo'>Fator de Potencia</div>
      <div class="flex-container">
        <div class="item1">
          <p class="fase">Fase A</p>
          <p class="dado"  id='pfa'></p>
        </div>
        <div class="item2">
          <p class="fase">Fase B</p>
          <p class="dado"  id='pfb'></p>
        </div>
        <div class="item3">
          <p class="fase">Fase C</p>
          <p class="dado"  id='pfc'></p>
        </div>
        <div class="item4">
          <p class="total">Total</p>
          <p class="dado"  id='pft'></p>
        </div>
      </div>

      <div class='titulo'>Potencia Ativa</div>
      <div class="flex-container">
        <div class="item1">
          <p class="fase">Fase A</p>
          <p class="dado"  id='pa'>W</p>
        </div>
        <div class="item2">
          <p class="fase">Fase B</p>
          <p class="dado"  id='pb'>W</p>
        </div>
        <div class="item3">
          <p class="fase">Fase C</p>
          <p class="dado"  id='pc'>W</p>
        </div>
        <div class="item4">
          <p class="total">Total</p>
          <p class="dado"  id='pt'>W</p>
        </div>
      </div>

      <div class='titulo'>Consumo (KWh)</div>
      <div class="flex-container">
        <div class="item1">
          <p>Hoje</p>
          <p class="dado"  id='cd'>KWh</p>
        </div>
        <div class="item2">
          <p>Ontem</p>
          <p class="dado"  id='cda'>KWh</p>
        </div>
        <div class="item3">
          <p>Consumo Mensal</p>
          <p class="dado"  id='cm'>KWh</p>
        </div>
        <div class="item4">
          <p>Mes anterior</p>
          <p class="dado"  id='cma'>KWh</p>
        </div>
      </div>
      <div class="flex-chart">
        <div id="chart_div1" class="item1"></div>
      </div>  
      <div class="flex-chart">
        <div id="chart_div2" class="item1"></div>
        <div id="chart_div3" class="item2"></div>
      </div>  
    </div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.js"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="/javascripts/sia.js"></script>
</html>