<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reservatorio.css' />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.js"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="/javascripts/test.js"></script>
</head>
<body>
  <header>
    <nav class="nav-bar">
     
        <figure >
          <img  src="/images/logo_mep.png" alt="Logo Mep Engenharia">
       </figure>
     
      <div class="nav-list"> 
        <ul>
          <div>
            Medidor Selecionado:
            <select name="medidor" id="medidor"> 
              <option value='1'>Reservatorios</option>
              <option value='3'>Energia</option>
            </select>
          </div>
          
          <p class="data">Ultima atualização: <span id="data"></span></p>
        </ul>
      </div>
        <div class="login-button">
            
        </div>

        <!--div class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="assets/img/menu_white_36dp.svg" alt=""></button>
        </div-->
    </nav>
  </header-->
  <div class="flex-container">
    <div class = "flex-item-1">
      <p class='titulo' id="res1_titulo">Reservatorio 1 </p>
      <div id="res1_gauge_div"  class="gauge"></div>
      <p class="dado"  id='res1_p'>%</p>
      <p class="dado"  id='res1_dis'>cm</p>
      <p class='ultimaLeitura'>Ultima atualização: <span id="res1_data"></span></p>
    </div>
    <div class = "flex-item-2">
      <div id="res1_chart_div" ></div>
    </div>
    <div class = "flex-item-3">
      <p class='titulo' id="res2_titulo">Reservatorio 2 </p>
      <div id="res2_gauge_div"  class="gauge"></div>
      <p class="dado"  id='res2_p'>%</p>
      <p class="dado"  id='res2_dis'>cm</p>
      <p class='ultimaLeitura'>Ultima atualização: <span id="res2_data"></span></p>
    </div>
    <div class = "flex-item-4">
      <div id="res2_chart_div" ></div>
    </div>
    
  </div>
</body>

</html>